// Colors
$color-black: rgb(1, 1, 1);
$color-red: rgb(255, 53, 53);
$color-blue: rgb(54, 50, 255);
$color-yellow: rgb(255, 243, 83);
$color-mustard: rgb(221, 185, 125);
$color-orange: rgb(255, 177, 68);

// Font-size
$font-size-small:10px;
$font-size-medium:12px;
$font-size-large:16px;

// Other Values
$border-radius: 12px;