// Font-size
$font-family: 'proxima-nova', sans-serif;
$font-size: 16px;

// Colors
$color-blue-01: #120F18;
$color-blue-02: #27415C;
$color-blue-03: #5C9DDC;
$color-blue-04: #46D6DD;
$color-blue-05: #DDFFFF;

$color-neutral-01: #B9B9B9;
$color-neutral-02: #EEEEEE;
$color-neutral-03: #FAFAFA;
$color-neutral-04: #FFFFFF;
